<!-- <h1 class="my-4">Shop Name</h1>
<div class="list-group">
  <a href="#" class="list-group-item">Category 1</a>
  <a href="#" class="list-group-item">Category 2</a>
  <a href="#" class="list-group-item">Category 3</a>
</div> -->
<!-- <h1 class="my-4">Shop Name</h1> -->
<div class="list-group my-4">
    <a href="#" class="list-group-item list-group-item-light active fa-Categories">
        <i class="fa"></i> Categories
    </a>
    <a href="#" class="list-group-item list-group-item-light">
        <i class="fa"></i> Clothing <span class="badge badge-pill badge-primary pull-right"></span>
    </a>
    <a href="#" class="list-group-item list-group-item-light">
        <i class="fa"></i> Shoes <span class="badge badge-pill badge-primary pull-right"></span>
    </a>
    <a href="#" class="list-group-item list-group-item-light">
        <i class="fa"></i> Accessories <span class="badge badge-pill badge-primary pull-right"></span>
    </a>
</div>
