<body>

  <div class="container">
    <app-nav-bar-shop></app-nav-bar-shop>
    <div class="row">
      <div class="col-lg-3">
        <app-category-shop></app-category-shop>
      </div>
      <div class="col-lg-9">
        <app-carousel-main-shop></app-carousel-main-shop>
        <app-list-items-shop></app-list-items-shop>
      </div>
    </div>
  </div>

  <footer class="py-5 bg-dark footer-oryam">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 50 shades of pink</p>
    </div>
  </footer>

</body>